:root {
  --html-color: #fafafa;
  --background-color: #27272a;
  --navbar-background: #18181b;
  --navbar-border: #1d0e0e;
  --navbar-link-color: #a1a1aa;
  --navbar-link-hover-color: #e4e4e7;
  --main-header-color: #005ae2;
  --list-anchor-background: #18181b;
  --list-anchor-border: #828ebe;
  --list-anchor-hover-background: #005ae2b6;
  --list-anchor-hover-border: #073a86b6;
  --list-anchor-visited-border: #073a86b6;
  --info-title-color: #eceff4;
  --info-date-color: #e5e9f0;

  --markdown-tags-color: #82aaff;
  --markdown-h1-color: #ffe953;
  --markdown-h2-color: #bd93f9;
  --markdown-h3-color: #ff79c6;
  --markdown-h4-color: #8be9fd;
  --markdown-a-color: #ffe220;
  --markdown-a-hover-color: #fae8c8;
}

html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--background-color);
  color: var(--html-color);
}

body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  text-rendering: geometricPrecision;
}

.navbar-container {
  /* height: 65px; */
  border-bottom: 1px solid #3f3f46;
}
.navbar {
  display: flex;
  height: 64px;
  width: 100%;
  background: var(--navbar-background);
  /* box-shadow: rgb(0 0 0 / 15%) 0px 5px 10px 0px; */
  align-items: center;
  justify-content: left;
}

.navbar-link {
  font-size: 14px;
  margin-left: 16px;
  color: var(--navbar-link-color);
  text-decoration: none;
}

.navbar-link:hover {
  color: var(--navbar-link-hover-color);
}

.navbar-title {
  font-size: 18px;
  font-weight: bold;
  margin-left: 16px;
  color: var(--main-header-color);
  text-decoration: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  align-items: center;
  margin-bottom: 20px;
}

.main-header {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: var(--main-header-color);
  font-weight: bold;
  font-size: 30px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.index-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.list-anchor {
  display: flex;
  flex-direction: column;
  background: var(--list-anchor-background);
  border-radius: 0.5rem;
  width: 350px;
  height: 244px;
  padding: 1rem;
  text-decoration: none;
  box-shadow: rgb(0 0 0/ 15%) 0px 5px 10px 0px;
}

.list-anchor:hover {
  background: var(--list-anchor-hover-background);
}

.list-anchor:visited {
}

.list-anchor__info {
  display: flex;
  flex-direction: column;
}

.info-title {
  color: var(--info-title-color);
  font-size: 20px;
  font-weight: bold;
}

.info-title::first-letter {
  text-transform: uppercase;
}

.info-date {
  padding-top: 5px;
  font-size: 20px;
  color: var(--info-date-color);
}

@media only screen and (max-width: 320px) {
  .list-anchor {
    width: 300px;
  }
}
@media only screen and (min-width: 320px) {
  .main-container {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 16px;
  }
}
@media only screen and (min-width: 481px) {
  .main-container {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 17px;
  }
}
@media only screen and (min-width: 641px) {
  .main-container {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 17px;
  }
}
@media only screen and (min-width: 961px) {
  .main-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media only screen and (min-width: 1025px) {
  .main-container {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media only screen and (min-width: 1281px) {
  .main-container {
    margin-left: 15%;
    margin-right: 15%;
  }
}
